<%- include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <p></p>
    <br>
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            
            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= contact._id %>"
                    >
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control"
                        id="nameTextField"
                        placeholder="Person"
                        name="name" 
                        value="<%= contact.name %>"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="QtyTextField">Number</label>
                    <input type="number" class="form-control"
                    id="QtyTextField"
                    placeholder="00"
                    name="number" 
                    value="<%= contact.number %>"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="statusTextField">Email</label>
                    <input type="text" class="form-control"
                    id="emailTextField"
                    placeholder="someone@whomail.com"
                    name="email" 
                    value="<%= contact.email %>"
                    >
                </div>
                <br />               
                <br />
                <br/>

                <button class="btn btn-primary" type="submit" onclick="return confirm('Are you sure?')">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>

                <a href="/contact/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<%- include ../partials/footer.ejs %>